<div class="row">
  <div class="col-xl-12 col-md-6">  
    <div class="table-responsive mt-3">
      <table class="table table-bordered table-hover" id="table-ext-1">
        <thead>
          <tr>
            <th class="text-danger"><%= t('book_name')%></th>
          </tr>
        </thead>
        <tbody>
          <% if @books.blank? %>
            <tr><%= t('no_record_present') %></tr>
          <% else %>
            <% @books.each do |book|%>
              <% book = book["attributes"]%>
              <tr>
                <td><%= link_to "#{book["title"]}", web_play_book_for_blind_path(id: book["id"])  %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style type="text/css">
  body {
    margin: 0;
    font-family: Effra;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 1.52857;
    color: #656565;
    text-align: left;
    background-color: #fff;
    overflow:auto;
  }

  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #6d6c6c;
    font-size: 50;
  }

  .table td, .table th {
      padding: .15rem .65rem;
      vertical-align: top;
      border-top: 1px solid #eee;
      text-align: left;
  }

  .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #c9c9c9;
  }

  .table tbody + tbody {
      border-top: 2px solid #c9c9c9;
  }

.table-sm td, .table-sm th {
    padding: .3rem;
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #c9c9c9;
}

  .table-bordered thead td, .table-bordered thead th {
      border-bottom-width: 2px;
  }

</style> 