<!-- <div class="wrapper">
  <section class="section-container"> -->
    <!-- Page content-->
    <div class="content-wrapper">
      <div class="content-heading">
        <div class="ml-auto">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Booth</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- START cards box-->
      <div class="row">
        <div class="col-xl-12 col-md-6">
          <!-- START card-->
          <button class="btn btn-labeled btn-secondary-blue btn-lg btn-rdius btn-rdius-13 font-bold" type="button" data-toggle="modal" data-target="#myModal">Add Booth <span class="btn-label btn-label-right"><i class="fa fa-plus"></i></span></button>
          <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover" id="table-ext-1">
              <thead>
                <tr>
                  <th class="text-danger">#</th>
                  <th class="text-danger">Booth Name</th>
                  <th class="text-danger">City</th>
                  <th class="text-danger">Address</th>
                  <th class="text-danger">Coordinates</th>
                  <th class="text-danger">Listening</th>
                  <th class="text-danger">Status</th>
                  <th class="text-danger">Last Listening</th>
                  <th class="text-danger">Setting</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-danger">1</td>
                  <td>Riyadh 1</td>
                  <td>Riyadh</td>
                  <td>Riyadh Park</td>
                  <td>24.7070803,46.6905646</td>
                  <td>2012</td>
                  <td>
                    <label>Active</label></td>
                  <td>11-06-2021 11:51 PM</td>
                  <td><a href="" data-toggle="modal" data-target="#update-booth"><i class="fa fa-cog fa-2x text-danger"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-footer">
            <div class="d-flex">
              <div>
                <div class="dataTables_info" id="datatable1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
              </div>
              <div class="ml-auto">
                <nav>
                  <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item active"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END cards box-->
    </div>
<!--   </section>
</div> -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title text-center" id="myModalLabel">Adding Booth</h4>
        <button class="close close-L" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

        <div class="mt-3">
          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Name</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="Riyadh Park">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">City</label>
            <div class="col-md-10">
              <select class="custom-select custom-select-sm text-center">
                <option selected="">Riyadh</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Address</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="Riyadh park, second floor behind Nando’s Restaurant">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Coordinates</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="24.7070803,46.6905646">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Communicate with</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="Mohamed shihri">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Phone number</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="0509050803">
            </div>
          </div>

          <div class="form-group row">
             <label for="example-text-input" class="col-md-2 col-form-label text-center">Category Name</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="Category Name">
            </div>
             
          </div>

          <div class="form-group row">
            <div class="col-md-12 text-center">
              <button class="btn btn-labeled btn-secondary-blue btn-rdius btn-rdius-13 font-bold" type="button">Add <span class="btn-label btn-label-right"><i class="fa fa-plus"></i></span></button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="update-booth" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title text-center" id="H1">Update Booth</h4>
        <button class="close close-L" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

        <div class="mt-3">
          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Name</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="Riyadh Park">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">City</label>
            <div class="col-md-10">
              <select class="custom-select custom-select-sm text-center">
                <option selected="">Riyadh</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Address</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="Riyadh park, second floor behind Nando’s Restaurant">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Coordinates</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="24.7070803,46.6905646">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Communicate with</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="Mohamed shihri">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Phone number</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="0509050803">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label text-center">Category Name</label>
            <div class="col-md-10">
              <input class="form-control text-center" type="email" placeholder="Category Name">
            </div>
            
          </div>

          <div class="form-group row">
            <div class="col-md-12 text-center">
              <button class="btn btn-labeled btn-secondary-blue btn-rdius btn-rdius-13 font-bold" type="button">Update <span class="btn-label btn-label-right"><i class="fa fa-sync-alt"></i></span></button>
              <button class="btn btn-labeled btn-secondary-blue btn-rdius btn-rdius-13 font-bold ml-2" type="button">Cancel <span class="btn-label btn-label-right"><i class="fa fa-times"></i></span></button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>