<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>
  <li>
        <%= link_to "<em class='fa fa-sign-out-alt'></em> #{t('logout')}".html_safe, session_path(id: @current_user.id), method: :delete, data: { confirm: t('logout_confirm_msg') } %>
      </li>