.book-player {
    position:relative;
}
.player {
  
    width: 100%;
    background-color: transparent;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    bottom: -6em;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.player ul {
  list-style: none;
}
.player ul li {
  display: inline-block;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
}
.cover img {
  height: 190px;
  width: 190px;
}

.info h1 {
     margin-top: 2em;
    text-align: center;
    line-height: 0;
    font-size: 3.7em;
    color: #fff;
    margin-bottom: 1.6em;
}
.info h4 {
  margin-left: 180px;
  line-height: 20px;
  color: #636367;
}
.info h2 {
  margin-left: 180px;
}

.button-items {
 text-align:center;
}

#slider {
  width: 100%;
height: 10px;
background: #AC3444;
border-radius: 10px;
}
#slider div {
width: 4px;
height: 10px;
margin-top: 1px;
background: #ffffff;
border-radius: 2px;
}

#timer {
  color: #FDFEFF;
  line-height: 0;
  font-size: 11pt;
  float: right;
  font-family: Arial, Sans-Serif;
  margin-top: 14px;
}

.controls {
  margin-top: 50px;
}
.controls svg:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

#play {
  padding: 0 3px;
  width: 70px;
  height: 120px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
}
#play g {
  stroke: #FEFEFE;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
#play g path {
  fill: #FEFEFE;
}

#play:hover {
  cursor: pointer;
}
#play:hover g {
  stroke: #8F4DA9;
  cursor: pointer;
}
#play:hover g path {
  fill: #9b59b6;
  cursor: pointer;
}

.step-backward {
 width: 60px;
    height: 100px;
    x: 0px;
    y: 0px;
    enable-background: new 0 0 25 25;
    margin-bottom: 5px;
}
.step-backward g polygon {
  fill: #FEFEFE;
}

.step-foreward {
  width: 60px;
  height: 100px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.step-foreward g polygon {
  fill: #FEFEFE;
}

#pause {
 x:0px;
    y: 0px;
    enable-background: new 0 0 25 25;
    width: 53px;
height: 120px;
position: absolute;
margin-left: -69px;
    cursor: pointer;
}
#pause rect {
  fill: white;
}

#pause:hover rect {
  fill: #8F4DA9;
}

.step-backward g polygon:hover, .step-foreward g polygon:hover {
  fill: #EF6DBC;
  cursor: pointer;
}

/*.social {
  text-align: center;
}

.twitter {
  color: #BDBDBD;
  font-family: sans-serif;
  text-decoration: none;
}
.twitter:hover {
  color: #ecf0f1;
}

.github {
  color: #BDBDBD;
  font-family: sans-serif;
  text-decoration: none;
}
.github:hover {
  color: #ecf0f1;
}

p {
  color: #BDBDBD;
}

#skip {
  float: right;
  margin-top: 10px;
}
#skip p {
  color: #2980b9;
}
#skip p:hover {
  color: #e74c3c;
  cursor: pointer;
}

.expend {
  padding: 0.5px;
  cursor: pointer;
}
.expend svg:hover g polygon {
  fill: #EF6DBC;
}*/