
/*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}*/

._1R8mR .pjKQH {
    width: 100%;
    margin: auto;
    position: relative;
    /*overflow-x: scroll;*/
    margin-left: 6em;
     -webkit-overflow-scrolling: touch;
}
._1R8mR .pjKQH ._2r0fh {
    padding: 65px 0;
}
._1R8mR .pjKQH ._2r0fh h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
}
._1R8mR .pjKQH ._2r0fh ._3noxt {
    display: flex;
    margin-top: 25px;
}
._1jq9K, ._1R8mR .pjKQH ._2r0fh ._3noxt ._2EGQY {
    display: flex;
    flex-direction: column;
}
._1R8mR .pjKQH ._2r0fh ._3noxt ._2EGQY {
    width: 140px;
    margin-right: 32px;
    cursor: pointer;
    border-radius: 12px;
    padding: 16px 11px 16px 16px;
    justify-content: space-between;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 25px;
}
._1R8mR .pjKQH ._2r0fh ._3noxt ._2EGQY img {
    width: 64px;
    margin-bottom: 17px;
    background: #fff;
    border-radius: 100%;
}
._3vgAs {
    cursor: pointer;
    position: relative;
    min-height: 45px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    line-height: 22px;
}
._3vgAs ._1qjtX {
    margin-right: 11px;
}
@media (min-width:1200px) {
    .horizontal-scroll-wrapper { 
         max-height: 1500px;
    }
}

@media (min-width:1400px) {
    .horizontal-scroll-wrapper { 
         max-height: 1500px;
    }
}

@media (min-width:1600px) {
    .horizontal-scroll-wrapper { 
         max-height: 1700px;
    }
}

@media (min-width:2000px) {
    .horizontal-scroll-wrapper { 
         max-height: 2100px;
    }
}
.form-group {
    margin-bottom: 2rem;
    margin-top: 1em;
}
._2r0fh-0 h1 {
    margin-bottom:1em;
}
.btn-cat {
   background: #edf4f3;
    border: 1px solid #edf4f3;
    color: #000;
    font-size: 25px;
    padding: 11px 27px;
    border-radius: 13px;
    margin-right:10px;
}

    .btn-cat:hover, .btn-cat:active { 
        background: #edf4f3;
    border: 1px solid #edf4f3;
    color: #000;
    }
    .btn-cat:not(:disabled):not(.disabled):active:focus,primary:not(:disabled):not(.disabled):active {
        box-shadow:none;
        color: #000;
    background-color: transparent;
    border-color: #edf4f3;
    }