<!-- top navbar-->
<header class="topnavbar-wrapper">
  <!-- START Top Navbar-->
  <nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <div class="brand-logo">
          <img class="img-fluid" src="../img/logo.jpg" alt="App Logo">
        </div>
        <!-- <div class="brand-logo-collapsed">
          <img class="img-fluid" src="../img/logo.png" alt="App Logo"></div>-->
      </a>
    </div>
    <!-- END navbar header-->

    <!-- START Right Navbar-->
    <ul class="navbar-nav flex-row">
      <!-- Search icon-->
      <li class="nav-item"><a class="nav-link" href="#" data-search-open=""><em class="icon-magnifier"></em></a></li>
      <!-- Fullscreen (only desktops)-->
      <li class="nav-item d-none d-md-block"><a class="nav-link" href="#" data-toggle-fullscreen=""><em class="fas fa-expand"></em></a></li>

      <li class="nav-item">
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed"><em class="fas fa-bars"></em></a>
        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
        <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true"><em class="fas fa-bars"></em></a>
      </li>
      <li class="nav-item dropdown dropdown-list">
        <a class="nav-link dropdown-toggle profile-but" href="#" data-toggle="dropdown" type="button">
          <img _ngcontent-khx-c189="" src="../img/avatar-2.jpg" alt="Header Avatar" class="rounded-circle header-profile-user"><span _ngcontent-khx-c189="" class="d-none d-xl-inline-block ml-1">Kevin</span><i _ngcontent-khx-c189="" class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </a>
        <!-- START Dropdown menu-->
        <div class="dropdown-menu dropdown-menu-right animated flipInX text-right">
          <a href="javascript: void(0);" class="dropdown-item">Profile <i class="icon-user align-middle ml-1"></i></a>
          <a href="javascript: void(0);" class="dropdown-item">My Wallet <i class="icon-wallet align-middle ml-1"></i></a>
          <a href="javascript: void(0);" class="dropdown-item d-block">Settings <i class="icon-settings align-middle ml-1"></i></a>
          <a href="javascript: void(0);" class="dropdown-item">Lock screen <i class="icon-lock align-middle ml-1"></i></a>
          <div class="dropdown-divider"></div>
          <a href="javascript: void(0);" class="dropdown-item text-danger">Logout <i class="icon-power align-middle mr-1 text-danger"></i></a>
        </div>
      </li>
    </ul>
    <!-- END Right Navbar-->
    <!-- START Search form-->
    <form class="navbar-form" role="search" action="search.html">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Type and hit enter ...">
        <div class="fas fa-times navbar-form-close" data-search-dismiss=""></div>
      </div>
      <button class="d-none" type="submit">Submit</button>
    </form>
    <!-- END Search form-->
  </nav>
  <!-- END Top Navbar-->
</header>
<!-- sidebar-->