<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | Dashboard</title>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js" integrity="sha512-uR46GOwRUepFi2dzcatO3qpr4onAj46VC9ltPFIwaX8YXl5O18nVT/JnJZY7yqrrKUP0ngD/YjuatsJqCDpYyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.3.2/swiper-bundle.min.css" integrity="sha512-lQHWF496KLOPKIq7ukPQ6L+QXkPQS7pyZKuTsDYzsbESU+Ucw7PakJ3IkMBSkeRlHWcZQLatpgv2XnXpJwsI+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.3.2/swiper-bundle.min.js" integrity="sha512-2qLYfpQ1yvy+ORrXGugHHt1n8JVhmdJabdtl1T8YPvj0ZA1FWKPfq0IyTA5qHyHSvJ9No5ruXR2pE/dTVPqa1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <%= javascript_pack_tag 'web_application' %>
    <%= stylesheet_pack_tag 'web_application' %>
</head>

<body>
    <%= yield %>
</body>
</html>
