<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%= javascript_pack_tag 'web_application' %>
    <%= stylesheet_pack_tag 'web_application' %>
</head>

<body>
    <%= yield %>
</body>
</html>