<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | Dashboard</title>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <%= javascript_pack_tag 'web_application' %>
    <%= stylesheet_pack_tag 'web_application' %>
</head>

<body>
    <%= yield %>
</body>
</html>