<div class="content-wrapper">
  <div class="content-heading">
    <div class="ml-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">تايلمعلا</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- START cards box-->
  <div class="row">
    <div class="col-xl-12 col-md-6">
      <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover" id="table-ext-1-operation">
          <thead>
            <tr>
              <th class="text-danger">#</th>
              <th class="text-danger">Operation Number</th>
              <th class="text-danger">Booth name</th>
              <th class="text-danger">Book Name</th>
              <th class="text-danger">City</th>
              <th class="text-danger">Listening Status</th>
              <th class="text-danger">Listening time</th>
              <th class="text-danger">Ratings</th>
              <th class="text-danger">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-danger">1</td>
              <td>10231613</td>
              <td>Riyadh</td>
              <td>Al zuhair</td>
              <td>Riyadh</td>
              <td>0/4</td>
              <td>11-06-2021 11:51 PM</td>
              <td>5/5</td>
              <td>Great idea, I love it</td>
            </tr>
            <tr>
              <td class="text-danger">1</td>
              <td>10231613</td>
              <td>Riyadh</td>
              <td>Al zuhair</td>
              <td>Riyadh</td>
              <td>0/4</td>
              <td>11-06-2021 11:51 PM</td>
              <td>5/5</td>
              <td>Great idea, I love it</td>
            </tr>
            <tr>
               <td class="text-danger">1</td>
              <td>10231613</td>
              <td>Riyadh</td>
              <td>Al zuhair</td>
              <td>Riyadh</td>
              <td>0/4</td>
              <td>11-06-2021 11:51 PM</td>
              <td>5/5</td>
              <td>Great idea, I love it</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <div class="d-flex">
          <div>
            <div class="dataTables_info" id="datatable1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
          </div>
          <div class="ml-auto">
            <nav>
              <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item active"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END cards box-->
</div>